@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer utilities {
  @keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

  .animate-jump {
    animation: jump 1.5s ease-in-out infinite;
  }
  
  @keyframes float {
    0% { transform: translateY(0); opacity: 0 }
    50% { opacity: 1 }
    100% { transform: translateY(-100vh); opacity: 0 }
  }

  .animate-float {
    animation: float 6s linear infinite;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}